body {
    background-image: url("../img/bg_img.png");
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del viewport */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza la página */
}
